<html>
<link rel="stylesheet" href="NavigationBar.css">
<link rel="stylesheet" href="../SharedStyle.css">
<div id="mainNavigationBar">			
	<a class="NavBarButton" target="_top" href="../../index.html">
		<p class = "NavBarText">Biography</p>
	</a>
	<a class="NavBarButton" target="_top" href="../../pages/publications/publications.html">
		<p class = "NavBarText">Publications</p>
	</a>
	<a class="NavBarButton" target="_top" href="../../pages/projects/projects.html">
		<p class = "NavBarText">Projects</p>
	</a>
</div>
</html>